* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

header {
  display: flex;
  position: sticky;
  width: 100vw;
  height: 80px;
  background-color: cornflowerblue;
  align-items: center;
  justify-content: center;
  top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  /* background-color: cornsilk; */
  /* align-items: center; */
  width: 20%;
  margin: 3% auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
button {
  margin-bottom: 2%;
  margin-top: 2%;
}
button {
  font-size: large;
}

.input {
  width: 80%;
  font-size: large;
}

.list {
  font-size: larger;
}

footer {
  display: flex;
  position: fixed;
  width: 100vw;
  background-color: cornflowerblue;
  align-items: center;
  justify-content: center;
  bottom: 0;
}
