<div class="container">
  <h2>Form</h2>
  <form action="/addtodo" method="POST">
    <input type="text" name="newtodo" placeholder="create new todo" />
    <button>Add Todo</button>
    <h2>Added Todo</h2>
    <button formaction="/removetado" type="submit">Remove</button>
  </form>
  <h2>Completed todo</h2>
</div>
