<div class="main-wrapper">
  <div class="container">
    <h2>Add a new item</h2>
    <form action="/addtodo" method="POST">
      <input
        class="input"
        type="text"
        name="newtodo"
        placeholder="write something..."
      />
      <button>Create new item</button>
      <hr />
      <h2>Todos</h2>
      <ul>
        <% for( let i = 0; i < todoList.length; i++){ %>
        <li class="list">
          <input type="checkbox" name="check" value="<%= todoList[i].todo %>" />
          <%= todoList[i].todo %>
        </li>
        <% } %>
      </ul>
      <button formaction="/movetodo" type="submit">Move checked items</button>
      <hr />
      <h2>Completed</h2>
      <ul>
        <% for(let i = 0; i < completeList.length; i++){ %>
        <li class="list">
          <input
            type="checkbox"
            name="complete"
            checked
            value="<%= completeList[i].complete %>"
          />
          <%= completeList[i].complete %>
        </li>
        <% } %>
      </ul>
      <button class="delete-btn" formaction="/deletetodo" type="submit">
        Delete checked items
      </button>
      <div class="show-hide">
        <p class="alert">No item to delete!</p>
        <button class="alert-btn">Ok</button>
      </div>
    </form>
  </div>
</div>
