<div class="error-container">
  <p class="error">Error 404 page not found</p>
  <img
    class="not-found"
    src="static/assets/404 Error .png"
    alt="unplugged plug showing page not found"
  />
</div>
